/* Style for our header texts
* --------------------------------------- */
h1{
	font-size: 4em;
	font-family: arial,helvetica;
	color: #222;
	margin:0;
	padding:0;
	font-family: "ktegaki","Hiragino Kaku Gothic ProN","Meiryo", sans-serif;
}
h3{
	font-size: 3em;
	font-family: arial,helvetica;
	color: #444;
	margin:0;
	padding:0;
	font-family: "ktegaki","Hiragino Kaku Gothic ProN","Meiryo", sans-serif;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
	text-align:center;
}
/* Backgrounds will cover all the section
* --------------------------------------- */
.section{
	background-size: cover;
}
.slide{
	background-size: cover;
}

/* Defining each section background and styles
* --------------------------------------- */
#section1{
	background:url(../img/bg_01.png) no-repeat center;
	background-size:cover;
}
#section1 h1{
	font-size: 5em;
	color: #333;
	font-weight: 500;
	line-height: 1.5em;
	top: 50%;
	transform: translateY(-40%);
	position: relative;
	padding: 0 50px 0 50px;
}
#section2{
	background:url(../img/bg_02.png) no-repeat center;
	background-size:cover;
	padding: 6% 0 0 0;
}
#section2 h3
,#section3 h3
,#section4 h3{
	top: 30%;
	transform: translateY(-80%);
	position: relative;
}
#section3{
	background:url(../img/bg_03.png) no-repeat center;
	background-size:cover;
	padding: 6% 0 0 0;
}
#section4{
	background:url(../img/bg_04.png) no-repeat center;
	background-size:cover;
	padding: 6% 0 0 0;
}
#section5{
	background:url(../img/bg_05.png) no-repeat center;
	background-size:cover;
	padding: 6% 0 0 0;
}
#section5 h1{
	font-size: 5em;
	top: 40%;
	transform: translateY(-30%);
	position: relative;
}
#section6{
	background:url(../img/bg_06.png) no-repeat center;
	background-size:cover;
	padding: 6% 0 0 0;
}
#section6 .div_table{
	display:table;
	height:100%;
	width:100%;
}
#section6 .div_cell{
	display: table-cell;
	vertical-align: middle;
	transform: translateY(-10%);
}
#section6 span{
	font-size: 1em;
	font-weight: bold;
	color: #333;
}
#section6 p{
	font-size: 1em;
	color: #555;
}
#section7{
	background:url(../img/bg_07.png) no-repeat center;
	background-size:cover;
	padding: 6% 0 0 0;
}
#section7 h3{
	top: 30%;
	transform: translateY(-50%);
	position: relative;
}
#section8{
	background:url(../img/bg_08.png) no-repeat center;
	background-size:cover;
	padding: 6% 0 0 0;
}
#section8 h3{
	top: 20%;
	transform: translateY(-25%);
	position: relative;
}
#section8 div{
	top: 50%;
	transform: translateY(-40%);
	position: relative;
}
#section9{
	background-size:cover;
	padding: 6% 0 0 0;
	color: #666;
	font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}
#section9 h3{
	font-size: 1.5em;
	text-align:left;
	position: relative;
	font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}
/*
#section9 .text_container1{
	width:100%;
	display:block;
}
#section9 .text_container1 h3{
	width:50%;
	margin: 0 auto;
	text-align:left;
	font-family: sans-serif;
}
#section9 .text_container2{
	width:100%;
	display:block;
}
*/
#section9 .text_block{
	width:100%;
	margin: 5% auto;
	text-align:
	left;transform:
}
#section9 .footer{
	position:absolute;
	height: 10%;
	display:block;
	width: 100%;
	background: #35bbee;
	z-index:9;
	text-align:center;
	color: #ffffff;
	padding: 20px 0 0 0;
	bottom:0px;
}

.validate_error {
	color:#FF0000;
}
.validate_valid {
	color:#FFFFFF;
}
div.modal-body{
	color:#000000;
	font-size: 1.5em;
	text-align:center;
}
