/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.parallax-container {
  min-height: 100px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 20%;
  }
  #index-banner .section {
    top: 10%;
  }
}

footer.page-footer {
  margin-top: 0px;
  padding-top: 0px;
  background-color: #ee6e73;
}

.material-icons {
  vertical-align: middle;
}

.flow-text {
  font-size: 10px;
}

blockquote.gray {
  border-left: 5px solid #c6c1c1;
}
