/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.width-20 {
  width: 20%;
}

@media only screen and (min-width: 993px) {
    .custom-left {
      text-align: left;
      padding-left: 10%;
    }
}
